@use "@/sass/_breakpoints" as *;

body[data-ctx='krovlya'] {
  #plan-in-choice .yaDiskUploader {}

  #plan-in-choice {
    .plan-modal-form {
      background-image: url("/assets/template/img/modal/image50.png"), url("/assets/template/img/modal/0001-1%201.png");
      background-position-y: top, calc(100% - 50px);
      background-repeat: no-repeat;
      padding: 0 46px 36px;
      max-height: 630px;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      @include until-768 {
        grid-template-columns: 1fr;
        padding: 0 10px 10px;
      }

      .form__title {
        grid-column: 1/3;

        @include until-768 {
          font-size: 21px;
        }

        @include until-460 {
          font-size: 18px;
        }
      }

      form {
        position: static;
        grid-column: 2/3;

        @include until-768 {
          grid-column: 1;
        }
      }
    }
  }
}