@use "@/sass/mixins-context" as *;

.banner_product_horisontal {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;

    img {
        position: relative;
        width: 100%;
    }

    a,
    button,
    .listing__catalog-promo-btn-more {

        @include set_colors_1(background-color);

        align-items: center;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: .3s;
        white-space: nowrap;
        padding: 10px 30px;
        font-size: 1.5em;
        width: auto;
        position: absolute;
        z-index: 2;
        bottom: 0;
        margin-bottom: 30px;

        &:after {
            content: " →";
            display: block;
            margin-left: 10px;
            margin-bottom: 3px;
        }

        &:hover {
            @include set_colors_1(background-color, 10%);
            color: #fff;
            padding: 10px 40px;
        }
    }
}

._promo_1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    span {
        align-items: center;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: .3s;
        white-space: nowrap;
        margin: 17px;
        position: absolute;

        padding: 10px 30px;
        width: auto;
        bottom: 0;
        z-index: 2;

        &:after {
            content: " →";
            display: block;
            margin-left: 10px;
            margin-bottom: 3px;
        }

        &:hover {
            @include set_colors_1(background-color, 10%);
            color: #fff;
            padding: 10px 40px;
        }
    }
}