.color-success{ color: #52BC6A; }
.text-underline{ text-decoration: underline; }

.d-flex{display: flex; align-items: center;}

.flex-wrap{flex-wrap: wrap;}

.justify-between{justify-content: space-between;};

.gap-8{gap: 8px;}
.gap-16{gap: 16px;}

.fw-600{font-weight: 600;}
.fw-700{ font-weight: 700; }

.mb-8{ margin-bottom: 8px; }
.mb-14{ margin-bottom: 14px; }
.mb-16{margin-bottom: 16px;}

.w-max-content{width: max-content;}