@use "@/scss/variables";
@use "@/scss/classes";
@use "@/scss/buttons";
@use "@/scss/elements";
@use "@/scss/sections/all";

@use "../../core/elements/modules/similar-products/scss/main.scss" as similar;
@use "../../core/elements/modules/customer-photos/scss/main.scss" as customer;