*
!/composer.json

!/core
!/core/cron
!/core/cron/**

!/core
!/core/elements
!/core/elements/**

!/TODO
!/TODO/**

!/_src-vite
!/_src-vite/**

!/api
!/api/**

!/assets
!/assets/template

!/assets/template/icons
!/assets/template/icons/**

!/assets/template/json
!/assets/template/json/**

!/package.json
!/webpack.config.js
!/postcss.config.js

!/README.md
!/.gitignore

!/.htaccess
!/vite.config.js