.banner--v1 {
  margin-bottom: 40px;
  position: relative;

  img {
    width: 100%;
    border: 1px solid #b59355;
    border-radius: 12px;
    @media (max-width: 520px) {
      border-radius: 6px;
    }
  }
  &__content {
    position: absolute;
    top: 100px;
    left: 50px;
    @media (max-width: 1024px) {
      top: 60px;
    }
    @media (max-width: 768px) {
      top: 20px;
      left: 20px;
    }
    @media (max-width: 520px) {
      position: absolute;
      bottom: 20px;
      top: auto;
      width: calc(100% - 40px);
    }

    &-title {
      font-size: 48px;
      font-weight: 800;
      @media (max-width: 1024px) {
        font-size: 32px;
      }
      @media (max-width: 768px) {
        font-size: 26px;
      }
      @media (max-width: 520px) {
        display: none;
      }
    }
    &-text {
      font-size: 35px;
      @media (max-width: 1024px) {
        font-size: 24px;
      }
      @media (max-width: 768px) {
        font-size: 18px;
      }
      @media (max-width: 520px) {
        display: none;
      }
    }
  }

  &__btn {
    border: none;
    color: #fff  !important;
    display: inline-block;
    text-align: center;
    background: #deb262;
    box-shadow: 0px -1px 13.2px 0px #00000026;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 16px;
    transition: 0.2s;
    width: 100%;
    margin-top: 12px;
    &:hover {
      background: #d69d38;
    }
  }
}
