.product-card-main {
  display: grid;
  grid-template-columns: 65% 1fr;
  gap: 24px;
  margin-bottom: 24px;
  @media (max-width: 980px) {
    grid-template-columns: 1fr;
  }

  // @media (max-width: 768px) {
  //   grid-template-columns: 1fr;
  // }

  &__row {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__center {
    @media (max-width: 768px) {
      order: 2;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 980px) {
      order: 3;
    }
  }

  .product-card__gallery {
    width: 100%;
  }
  .js-product__btn-in-cart,
  .product-card__buy,
  .product-card__img-link {
    width: 100%;
    max-width: 100%;
  }
  .js-product__btn,
  .ya-share2__link-text {
    text-decoration: none;
    &:after {
      border-bottom: none;
    }
    &:hover {
      opacity: 0.7;
    }
  }

  .customer-photos {
    @media (min-width: 768px) {
      grid-column: span 2;
    }
  }
}
