.banner-double {
  @media (max-width: 480px) {
    margin-bottom: 32px;
  }

  &__row {
    display: flex;
    width: 100%;
    gap: 24px;
  }

  &__big,
  &__small {
    background-size: cover;
    background-position: center;
    min-height: 312px;

    .btn {
      font-size: 24px;
      width: max-content;
      padding: 12px 24px;
      font-weight: 700;
      color: #fff;
      border-radius: 10px;
      text-align: center;

      background: linear-gradient(90.01deg, #eed413 0.01%, #eea913 106.26%);
      &:hover {
        color: #fff;
        background: linear-gradient(90.01deg, #eea913 0.01%, #eed413 106.26%);
      }

      @media (max-width: 768px) {
        font-size: 18px;
        margin: 0 auto;
      }
    }
  }

  &__big {
    width: 70%;
    padding: 40px 45px;
    @media (max-width: 768px) {
      width: 100%;
      padding: 24px;
      text-align: center;
    }

    &-content {
      display: grid;
      gap: 16px;
      max-width: 560px;
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    &-text,
    &-text span {
      font-family: system-ui;
      font-size: 48px;
      font-weight: 700;
      line-height: 45px;
      color: #fff;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 37px;
        max-width: 260px;
        margin: auto;
      }
    }
    &-intro {
      font-size: 28px;
      line-height: 27px;
      color: #fff;
      @media (max-width: 768px) {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }

  &__small {
    width: 30%;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: none;
    }

    &-text,
    &-text span {
      font-family: system-ui;
      font-size: 40px;
      font-weight: 700;
      line-height: 38px;
      color: #fff;
    }

    .btn {
      width: 100%;
    }
  }

  .colored {
    background: linear-gradient(90deg, #eed413 0%, #ee8113 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
