.delivery-calculator {
    &__form-address-dropdown {
      position: absolute;
      left: 0;
      top: 51px;
      right: 0;
      background: white;
      padding: 0 0 5px;
      font-size: 16px;
      z-index: 1;
    }

    &__form-address-dropdown-item {
      margin: 0 0 5px;
      padding: 3px 0 3px 25px;
      &:hover {
        cursor: pointer;
        background: #f5f5f5;
      }
    }

    &__form-indicator {
      background: #464646;
      width: 24px;
      height: 24px;
      mask-size: cover;
      //transition: opacity .5s;
      right: 15px;
      top: 0;
      transform: translateY(50%);
      position: absolute;
      opacity: 0;
    }
  }
