$colors-1: (
    rockwool: #AA000F,
    krovlya: #AA000F,
    tn: #AA000F,
    knauf: #4f70ad,
    isover: #83c320,
    paroc: #ce1126,
    penoplex: #f36f21
);

:root{
  --color-1-calculator: #AA000F;
}

@each $context, $color in $colors-1 {
  @at-root .#{$context} {
    --color-1-calculator: #{$color};
  }
}

.delivery-calculator {
  $color-2: #25282b;
  &__weights {
    a.active, a:hover {
      .delivery-calculator__weights-mask {
        background: var(--color-1-calculator);
      }
    }
  }
  &__weights-img-wrap {
    width: 100%;
  }
  &__weights-mask {
    width: 100%;
    height: 100%;
    mask-repeat: no-repeat;
    mask-size: 49px;
    mask-position: center;
    background: $color-2;
  }
}