
:root {
  --color-calculator: #AA000F;
  --color-calculator-hov: rgb(from #AA000F r g b /5%);
}

.delivery-calculator {
  $contexts: (
      rockwool: #AA000F,
      krovlya: #AA000F,
      tn: #AA000F,
      knauf: #4f70ad,
      isover: #83c320,
      paroc: #ce1126,
      penoplex: #f36f21
  );

  @each $context, $color in $contexts {
    @at-root .#{$context} {
      --color-calculator: #{$color};
      --color-calculator-hov: rgb(from #{$color} r g b /5%);
    }
  }

  margin: 55px 0 55px;
  min-width: 320px;

  .wrapper {
    flex-direction: row;
    gap: 16px;
    align-items: stretch;
    display: flex;
    @include until-980 {
      flex-direction: column;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
    min-height: 300px;
    border-radius: 8px;
    overflow: hidden;
    pointer-events: none;

    &.active {
      pointer-events: auto;
    }
  }

  &__map-wrapper {
    position: relative;
    flex: 0 0 396px;
    max-width: 396px;
    @include until-980 {
      width: auto;
      max-width: none;
      margin: 0 30px 0 0;
    }
  }

  &__form-block {
    flex: 1 1 auto;
    width: 100%;
  }

  &__form-title {
    margin: 0 0 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
  }

  &__form-field {
    display: block;
    background: #f5f5f5;
    height: 50px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    border-radius: 4px;
    width: 100%;
    margin: 0 0 12px;
    padding: 0 0 0 25px;
    border: none;
  }

  &__form-address-message {
    & .msg-error {
      color: red;
    }
  }

  &__form-address-wrap {
    position: relative;
    display: block;
  }

  &__weights {
    flex-wrap: wrap;
    gap: 22px;
    display: none;
    margin-top: 5px;

    &.active {
      display: flex;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      width: 76px;
      gap: 9px;

      &:visited {
        color: #25282b;
      }

      &:hover, &.active {
        color: var(--color-calculator);

        svg {
          fill: var(--color-calculator);
        }
      }
    }
  }

  &__weights-wrapper {
    min-height: 68px;
  }

  &__weights-svg {
    fill: #25282B;
    margin: 0 auto;
  }

  &__weights-img-wrap {
    height: 42px;
    display: flex;
    align-items: flex-end;
  }

  &__price-wrapper {
    min-width: 66px;
    margin: 24px 0;
  }

  &__price {
    display: none;
    border: 1px solid #C9C9C9;
    padding: 8px 16px;
    gap: 12px;

    &.active {
      display: flex;
    }

    > div {
      flex: 1 0 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__price-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 7px;
  }

  &__price-value {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
  }

  &__btn {
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-calculator);
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    border: 1px solid var(--color-calculator);
    &:hover {
      background: var(--color-calculator-hov);
    }
  }

  &__vehicle {
    margin: 24px 0 0;

    label {
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      color: black;
      margin-right: 24px;
      line-break: anywhere;
      @include until-460 {
        font-size: 16px;
      }

      input {
        margin: 0 8px 0 0;
      }
    }
  }

  &__in-service {
    display: none;

    &.active {
      display: block;
    }
  }

  &__out-of-service {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #aa000f;
    min-height: 61px;
    color: #aa000f;
    font-size: 20px;
    margin: 20px 0;

    &.active {
      display: flex;
    }
  }
}

/*
.delivery-calculator__weights--radio.active {
  display: flex;
  align-items: center;
  height: 70px;
  margin-left: 20px;


  .delivery-calculator__radio-weight {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;

    span {
      order: 1;
    }
  }
}
*/

@import './masks';
@import './form-addr-improvements';
