.main_banner_block{


    %main_banner_button{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        padding: 15px 30px;
        font-size: 1.2rem;
        @include set_colors_1(background-color, false, false, null);
        transition: background-color .5s;
        margin: 20px;
        z-index: 2;
        border-radius: 50px;
        &:hover{
            @include set_colors_1(background-color, 10%, false, null);
        }
    }


    width: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
    gap: 30px;
    // margin: 30px 0;
    grid-template-columns: minmax(763px, 7fr) 3fr;
    @media (max-width: 1150px) {
        grid-template-columns: 1fr;
    }
    .main_banner_wrapper{
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .swiper{
            width: 100%;
            height: 100%;
            position: relative;
            .swiper-wrapper{
                .swiper-slide{
                    img{
                        position: relative;
                        display: block;
                        margin: 0;
                        height: 100%;
                        @media (max-width: 1150px) {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
        .pagination_row{
            position: absolute;
            bottom: 0;
            left: -2px;
            z-index: 4;
            margin: 20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .swiper-pagination-bullet{
                height: 12px;
                width: 12px;
                margin: 0 2px;
                display: block;
                border: 2px #fff solid;
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                &.swiper-pagination-bullet-active{
                    @include set_colors_1(background-color, false, false, null);
                }
            }
        }
        .navigation_row{
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
            position: absolute;
            z-index: 4;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            pointer-events: none;
            &>div{
                width: 32px;
                height: 32px;
                position: relative;
                overflow: hidden;
                pointer-events: all;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &::before{
                    display: block;
                    content: "";
                    overflow: hidden;
                    position: relative;
                    transform: rotate(45deg);
                    width: 12px;
                    height: 12px;
                    border-color: #aaa;
                    opacity: .5;
                    border-style: solid;
                    border-width: 4px 4px 0 0;
                }
                &:hover{
                    &::before{
                        opacity: 1;
                    }
                }
                &:first-child{
                    transform: rotate(180deg);
                }
            }
        }
        button{
            @extend %main_banner_button;
            bottom: 0;
            right: 0;
            z-index: 4;
        }
    }
    .main_banneer_offside{
        overflow: hidden;
        position: relative;
        img{
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        a{
            @extend %main_banner_button;
            // width: calc(100% - 40px);
            bottom: 0;
        }
        @media (max-width: 1150px) {
            display: none;
        }
    }


}

.main_banner_block--uteplitel{
    grid-template-columns: 1fr;
    border-radius: 20px;
    @media screen and (max-width: 772px) {

    }
    .main_banner_wrapper .swiper .swiper-wrapper .swiper-slide img{
        object-fit: cover;
        height: unset;
    }
    .main_banner_wrapper{
        .swiper-wrapper{
            position: relative;
            button {
                border-radius: 8px;
                background-color: #73b017;
                color: #fff;
                position: absolute;
                box-shadow: 0 2px 4px #3ca322;
                top: 287px;
                left: 57px;
                right: unset;
                bottom: unset;
                margin: 0;

                &:hover{
                    background-color: #ebaf00;
                    box-shadow: 0 2px 4px #d5a000;
                }

                @media screen and (max-width: 772px){
                    opacity: 0;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 2;
                }
            }
        }
    }
}