.catalog-side-carousel {
  @include until-768 {
      width: calc(50% - 3px);
  }

  .swiper {
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    content: none;
  }

  .swiper-button-prev, .swiper-button-next {
    width: 32px;
    height: 32px;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }

  .swiper-button-prev:before, .swiper-button-next:before {
    border-color: #aaa;
    border-style: solid;
    border-width: 4px 4px 0 0;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    color: transparent;
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 4px;
    transform: rotate(-135deg);
  }

  .swiper-button-next:before {
    transform: rotate(45deg);
    left: auto;
    right: 4px;
  }

  &__banner {
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    border: 1px solid #eaeaea;
  }

  &__button {
    align-items: center;
    border-radius: 8px;
    color: $krovlya-white;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    letter-spacing: normal;
    position: relative;
    text-transform: uppercase;
    transition: .3s;
    width: 100%;
    background: $krovlya-button;
    &:hover {
      background: $krovlya-main-dark;
      color: $krovlya-white !important;
    }
    &_white {
      background: $krovlya-white;
      color: #000;
      &:hover {
        background: $krovlya-white-dark;
        color: $krovlya-main-dark!important;
      }
    }
  } 
}