.icon-star:before{
  align-items: center;
  box-sizing: border-box;
  color: orange;
  content: "\2605";
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 1rem;
  height: 16px;
  justify-content: center;
  margin-right: 2px;
  overflow: hidden;
  padding-bottom: 2px;
  position: relative;
  width: 16px;
}
